@import url('https://fonts.googleapis.com/css2?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    height: 50px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0,3s ease 0s;
}

.nav__links li a:hover {
    color: rgb(65, 0, 169);
}

button {
    padding: 9px 25px;
    background-color: rgb(65, 0, 169);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0,3s ease 0s;
}

button:hover {
    background-color: rgb(46, 6, 112);
}

.title1 {
    text-align: center;
    font-size: 35px;
    margin: auto;
    width: 50%;
    padding: 30px;
    color: #edf0f1;
}

.subtitle1 {
    text-align: center;
    font-size: 17px;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: #edf0f1;
}

.int {
    text-align: justify;
    font-size: 15px;
    margin: auto;
    width: 75%;
    padding: 10px;
    color: #edf0f1;
}

.pic1 {
    padding: 20px;
}

figure {
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
}

.yepic {
    display: flex;
    width: 500px;
    height: 333px;
    
}

.pic1inf {
    text-align: center;
    font-size: 12px;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: #edf0f1;
}

.subtitle2 {
    text-align: center;
    font-size: 17px;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: #edf0f1;
}

.pl {
    text-align: justify;
    font-size: 15px;
    margin: auto;
    width: 75%;
    padding: 10px;
    color: #edf0f1;
}

.socialnet {
    bottom: 10px;
    width: 20%;
    display: block;
    margin: auto;
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: center;
}

.fa {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 10%;
}

.socialnet a:hover {
    transition: all 0,3s ease 0s;
}

.socialnet a:hover {
    color: rgb(65, 0, 169);
}