@import url('https://fonts.googleapis.com/css2?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #202020; /* #24252A */
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    color: white;
    font-size: 20px;
    font-style: italic;

}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0,3s ease 0s;
}

.nav__links li a:hover {
    color: rgb(100, 0, 146);
}

button {
    padding: 9px 25px;
    background-color: rgb(100, 0, 146);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0,3s ease 0s;
}

button:hover {
    background-color: rgb(74, 0, 109);
}

.title1 {
    text-align: center;
    font-size: 35px;
    margin: auto;
    width: 50%;
    padding: 30px;
    color: #edf0f1;
}

.subtitle1 {
    text-align: center;
    font-size: 17px;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: #edf0f1;
}

.int {
    text-align: justify;
    font-size: 15px;
    margin: auto;
    width: 75%;
    padding: 10px;
    color: #edf0f1;
}

.pic1 {
    padding: 20px;
}

figure {
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
}

.yepic {
    display: flex;
    width: 499px;
    height: 333px;
    
}

.pic1inf {
    text-align: center;
    font-size: 12px;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: #edf0f1;
}

.subtitle2 {
    text-align: center;
    font-size: 17px;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: white;
}

.pl {
    text-align: justify;
    font-size: 15px;
    margin: auto;
    width: 75%;
    padding: 10px;
    color: white;
}

.pic2 {
    padding: 20px;
}

.cdpic {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
    width: 494px;
    height: 330px;
}

.pic2inf {
    text-align: center;
    font-size: 12px;
    margin: auto;
    padding: 10px;
    color: white;
    width: 50%;

}

.subtitle3 {
    text-align: center;
    font-size: 17px;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: white;
}

.pj {
    text-align: justify;
    font-size: 15px;
    margin: auto;
    width: 75%;
    padding: 10px;
    color: white;
}

.ab1 {
    padding: 20px;
}

.tcdppic {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
    width: 334px;
    height: 334px;
}

.ab1inf {
    text-align: center;
    font-size: 12px;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: white;
}

.ab2 {
    padding: 20px;
}

.lrpic {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
    width: 334px;
    height: 334px;
}

.ab2inf {
    text-align: center;
    font-size: 12px;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: white;
}

.ab3 {
    padding: 20px;
}

.gdpic {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
    width: 334px;
    height: 334px;
}

.ab3inf {
    text-align: center;
    font-size: 12px;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: white;
}

.ab4 {
    padding: 20px;
}

.eightehpic {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
    width: 334px;
    height: 334px;
}

.ab4inf {
    text-align: center;
    font-size: 12px;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: white;
}

.ab5 {
    padding: 20px;
}

.mbdatnpic {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
    width: 334px;
    height: 334px;
}

.ab5inf {
    text-align: center;
    font-size: 12px;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: white;
}

.ab6 {
    padding: 20px;
}

.yeezuspic {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
    width: 334px;
    height: 334px;
}

.yeezusforce {
    width: 332px;
    height: 332px
}

.ab6inf {
    text-align: center;
    font-size: 12px;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: white;
}

.ab7 {
    padding: 20px;
}

.tloppic {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
    width: 334px;
    height: 334px;
}

.ab7inf {
    text-align: center;
    font-size: 12px;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: white;
}

.ab8 {
    padding: 20px;
}

.yealbumpic {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
    width: 334px;
    height: 334px;
}

.ab8inf {
    text-align: center;
    font-size: 12px;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: white;
}

.ab9 {
    padding: 20px;
}

.jikpic {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
    width: 334px;
    height: 334px;
}

.ab9inf {
    text-align: center;
    font-size: 12px;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: white;
}

.ab10 {
    padding: 20px;
}

.dpic {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
    width: 334px;
    height: 334px;
}

.ab10inf {
    text-align: center;
    font-size: 12px;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: white;
}

.ab11 {
    padding: 20px;
}

.d2pic {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
    width: 334px;
    height: 334px;
}

.ab11inf {
    text-align: center;
    font-size: 12px;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: white;
}


.socialnet {
    bottom: 10px;
    width: 30%;
    display: block;
    margin: auto;
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: center;
}

.fa {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 10%;
}

.socialnet a:hover {
    transition: all 0,3s ease 0s;
}

.socialnet a:hover {
    color: rgb(65, 0, 169);
}